{% extends 'pages/base.html' %}
{% load static %}
{% block title %}
    О конференции
{% endblock %}
{% block content %}

    <div class="container mt">
        <div class="row">
            <img class="img-responsive col-lg-6 col-md-6 col-sm-6"
                 style="padding: 0" src="{% static 'img/kpfu.png' %}" alt="">

            <div class="col-lg-6 col-md-6 col-sm-6">
                <h2 class="ctitle" style="margin-top: 0;">Информация о конференции</h2>
                <p class="info">
                    Конференция «Материалы и технологии XXI века» берет свое начало с 2000 г. Она более десяти лет
                    проводилась на базе Казанского университета в качестве междисциплинарного научного мероприятия,
                    собиравшего на одной площадке студентов, аспирантов и молодых
                    ученых естественнонаучного профиля из различных вузов г. Казани. Впоследствии конференция получила
                    всероссийский уровень. В 2014 году в конференции приняло участие более 350 молодых ученых из разных
                    городов и регионов Российской Федерации, представляющих
                    более 50 высших учебных заведений и научно-исследовательских институтов. С пленарными лекциями для
                    молодых ученых выступили ведущие российские и зарубежные ученые, являющиеся одними из мировых
                    лидеров в своих областях науки.
                </p>
                <!-- <p><br/><a href="contact.html" class="btn btn-theme">Contact Us</a></p> -->
            </div>
            <! --/row -->
            <br>
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <p class="info" style="padding-top: 20px;">В 2015 году конференция получила статус Международной
                        конференции, за счет
                        привлечения к участию студентов, аспирантов и молодых ученых из ближнего и дальнего зарубежья.
                        Целями конференции являются популяризация научной деятельности в молодежной
                        среде, а также обмен опытом и налаживание контактов для последующих совместных исследований по
                        таким направлениям, как: биомедицина и фармацевтика; перспективные материалы; нефтеразработка,
                        нефтепереработка и нефтехимия. Программа конференции
                        включает пленарные доклады приглашенных ведущих российских и зарубежных ученых, секционные
                        доклады и стендовые сообщения студентов, аспирантов и молодых ученых (до 35 лет), а также
                        мастер-классы и семинары представителей крупных российских
                        и международных компаний.
                    </p>
                </div>

            </div>

        </div>
        <! --/container -->
    </div>

    <!-- *****************************************************************************************************************
       Место и время проведения
       ***************************************************************************************************************** -->


    <div class="container-fluid  important date">
        <div class="col-md-6 col-sm-12">
            <div class=" centered">
                <h3 class=" uppercase wt">ДАТА И МЕСТО ПРОВЕДЕНИЯ:</h3>
                <p class="wt">
                    20 – 23 сентября 2016 г., г. Казань, ул. Кремлевская 18, <br>Казанский (Приволжский) федеральный
                    университет
                </p>
            </div>
        </div>
        <! --/row -->
        <! --/container -->
        <div class="col-md-6 col-sm-12">
            <div class=" centered">
                <h3 class=" uppercase wt">РАБОЧИЙ ЯЗЫК КОНФЕРЕНЦИИ:</h3>
                <p class="wt">
                    Русский
                </p>
            </div>
            <! --/row -->
        </div>
        <! --/container -->
    </div>


    <div class="container mtb">
        <div class="row centered">
            <h3 class="mb uppercase">ПРИГЛАШАЕМ ВСЕХ СТУДЕНТОВ, АСПИРАНТОВ И МОЛОДЫХ УЧЕНЫХ ПРИНЯТЬ УЧАСТИЕ В
                КОНФЕРЕНЦИИ!
            </h3>
            <br>
        </div>
        <! --/row -->
        <! --/container -->
        <a id='sections'></a>
        <h3 class="mb uppercase centered mu">Основными научными направлениями конференции будут:
        </h3>

        <!-- *****************************************************************************************************************
           TESTIMONIALS
           ***************************************************************************************************************** -->
        <div class="container">
            <div class="col-lg-3 col-md-3 col-sm-3">
                <h4 class="mb centered ctitle">Биомедицина и фармацевтика.</h4>
                <ul>
                    <li>Регенеративная медицина и генотерапия;</li>
                    <li>Биоинформатика, вычислительная биология и омиксные технологии;</li>
                    <li>Разработка новых лекарственных средств, методов их доставки и клеточные мишени;</li>
                    <li>Биоинженерия, биотехнологии и биосовместимые материалы;</li>
                    <li>Методы и средства диагностики и мониторинга природной среды;</li>
                    <li>Новые биомедицинские методы, приборы и материалы</li>
                    <li>Физико-химические основы медицины, биохимия и биофизика;</li>
                    <li>Ядерная и лучевая диагностика и терапия.</li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <h4 class="mb centered ctitle">Нефтеразработка, нефтепереработка, нефтехимия.</h4>
                <ul>
                    <li>Методы увеличения нефтеотдачи трудноизвлекаемых запасов нефти;</li>
                    <li>Геологическое и гидродинамическое моделирование</li>
                    <li>Геология и геохимия нефти и газа; Современные геофизические технологии поисков и
                        разведки месторождений углеводородов;
                    </li>
                    <li>Литология и петрофизика пород-коллекторов; Реагенты для
                        бурения, нефтепромысловая химия;
                    </li>
                    <li>Гомогенный и гетерогенный катализ в нефтепереработке и
                        нефтехимии.
                    </li>

                </ul>

            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <h4 class="mb centered ctitle">Инфокоммуникационные и космические технологии.</h4>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <h4 class="mb centered ctitle">Перспективные материалы, новые методы и технологии.</h4>
                <ul>
                    <li>Супрамолекулярные соединения и наноматериалы;</li>
                    <li>Новые материалы для лазеров и оптоэлектроники;</li>
                    <li>Направленный синтез веществ с практически полезными свойствами; Новые методы исследования
                        веществ и
                        материалов;
                    </li>
                    <li>Структура и динамика сложных молекулярных систем, включая системы биомедицинского
                        назначения;
                    </li>
                    <li>Компьютерное моделирование в материаловедении, промышленности и анализе природных
                        систем;
                    </li>
                    <li>Информационные технологии в радиотехнике и связи;</li>
                    <li>
                        Физические и химические методы в
                        приборостроении;
                    </li>
                    <li>Новые технологии в экологии и природопользовании.</li>
                </ul>
            </div>
        </div>
    </div>>
    <div class="container sponsors">
        <div class="row centered">
            <h2>Оргкомитет III Международной школы-конференции для студентов, аспирантов и молодых ученых «Материалы и технологии XXI века» </h2>
            <div class="container mtb-min">
                <div class="container pad-top">
                    <h3 class="title centered">Со-председатели и координаторы</h3>
                    {% for m in m1 %}
                        <div class="col-lg-4">
                            <div class="well member" data-toggle="modal" data-toggle="tooltip" title="Подробнее:"
                                 tabindex="-1"
                                 data-target="#modal-{{ m.pk }}">
                                <h3 class="title centered">{{ m.name }}</h3>
                                {% if m.img %}
                                    <img src="{{ m.img.url }}" alt="{{ m.name }}">
                                {% endif %}
                                {% if not m.img %}
                                    <img src="{% static 'img/sample.png' %}" alt="{{ m.name }}">
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="container pad-top">
                    <h3 class="title centered">Члены оргкомитета</h3>
                    {% for m in m3 %}
                        <div class="col-lg-4">
                            <div class="well member-img-no" data-toggle="modal" data-toggle="tooltip" title="Подробнее:"
                                 tabindex="-1"
                                 data-target="#modal-{{ m.pk }}">

                                <h3 class="title centered">{{ m.name }}</h3>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% for m in m1 %}
            <div class="modal fade" id="modal-{{ m.pk }}" role="dialog" tabindex="-1">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title uppercase centered">{{ m.name }}</h3>
                        </div>
                        <div class="modal-body">
                            <div class="">
                                <div class="row centered">
                                    {% if m.img %}
                                        <img src="{{ m.img.url }}" alt="{{ m.name }}">
                                    {% endif %}
                                    {% if not m.img %}
                                        <img src=" {% static 'img/sample.png' %}" alt="{{ m.name }}">
                                    {% endif %}
                                </div>
                                <div class="row pad-side">
                                    <p>{{ m.description }}<p>
                                    <p>Подробнее: <a href="{{ m.comment }}">{{ m.comment }}</a>
                                    <p>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-blog" data-dismiss="modal" type="button">Ок</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% for m in m3 %}
            <div class="modal fade" id="modal-{{ m.pk }}" role="dialog" tabindex="-1">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title uppercase centered">{{ m.name }}</h3>
                        </div>
                        <div class="modal-body">
                            <div class="">
                                <div class="row centered">
                                    {% if m.img %}
                                        <img src="{{ m.img.url }}" alt="{{ m.name }}">
                                    {% endif %}
                                    {% if not m.img %}
                                        <img src=" {% static 'img/sample.png' %}" alt="{{ m.name }}">
                                    {% endif %}
                                </div>
                                <div class="row pad-side">
                                    <p>{{ m.description }}<p>
                                    {% if m.comment %}
                                        <p>Подробнее: <a href="{{ m.comment }}">{{ m.comment }}</a></p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-blog" data-dismiss="modal" type="button">Ок</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <!-- *****************************************************************************************************************
       OUR CLIENTS
       ***************************************************************************************************************** -->
   <div class="container sponsors">
        <div class="row centered">
            <h3>Спонсоры</h3>
            {% for sponsor in sponsors %}
                 <div class="col-lg-4 col-md-4 col-sm-4">
                <img src="{{ sponsor.img.url }}" class="img-responsive">
            </div>
            {% endfor %}

            <! --/row -->
        </div>
        <br>
    </div>
    <! --/container-->
{% endblock %}