{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>
        II МЕЖДУНАРОДНАЯ ШКОЛА-КОНФЕРЕНЦИЯ СТУДЕНТОВ, АСПИРАНТОВ И МОЛОДЫХ УЧЕНЫХ «МАТЕРИАЛЫ И ТЕХНОЛОГИИ XXI ВЕКА» |
        {% block title %}

        {% endblock %}
    </title>

    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Marmelad" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet">
    {% block stylesheets %}

    {% endblock %}
    <link href="{% static "css/style.css" %}" rel="stylesheet">

</head>
<body>
{% include 'pages/menu.html' %}
{% block content %}

{% endblock %}

{% include 'pages/footer.html' %}

<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static 'js/retina-1.1.0.js' %}"></script>
<script src="{% static 'js/jquery.hoverdir.js' %}"></script>
<script src="{% static 'js/jquery.hoverex.min.js' %}"></script>
<script src="{% static 'js/jquery.prettyPhoto.js' %}"></script>
<script src="{% static 'js/jquery.isotope.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
<script>
    $(document).ready(function () {
        $('.event-details').css('display', 'none');
        $('.event-details').css('height', 'auto');
        $('.event-details').css('margin-top', '-17px');
        $('.event-details > .info').css('height', 'auto');
        $('.disabled').prev().css('cursor', 'default');


        $('.event-list > li').click(function () {
            if (!$(this).nextAll('.event-details').first().hasClass('disabled')) {
                //$(this).nextAll('.event-details').first().height('auto');
                $(this).nextAll('.event-details').first().nextAll('.info').first().height('auto');
                $(this).nextAll('.event-details').first().slideToggle();
            }
        });
    })
</script>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })
</script>
{% block scripts %}

{% endblock %}
</body>
</html>