{% extends 'pages/base.html' %}
{% load el_pagination_tags %}
{% load static %}
{% block stylesheets %}
    <link rel="stylesheet" href="{% static '/owlcarousel/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static '/owlcarousel/owl.theme.default.min.css' %}">
{% endblock %}
{% block title %}
    Главная
{% endblock %}
{% block content %}
    <div id="headerwrap">
        <div class="container">
            <div class="log-lg-6 col-md-6 col-sm-12 header-title">
                <div class="col-md-12 col-sm-12 col-lg-12">
                    <h2>III Международная школа-конференция студентов, аспирантов и молодых ученых «Материалы и
                        технологии
                        XXI века»</h2>
                </div>
            </div>


            <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
                <img src="{% static 'img/conf-logo2.png' %}" class="img-logo"
                     style="margin-top: 40px; width: 189px; height: 189px; object-fit: cover;">
            </div>
            <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
                <img src="{% static 'img/kpfu_logo.jpg' %}" class="img-logo, img-circle"
                     style="margin-top: 40px; width: 189px; height: 189px; object-fit: cover;">
            </div>
        </div> <!-- /container -->
    </div><!-- /headerwrap -->

    <!-- *****************************************************************************************************************
     CARUSEL
     ***************************************************************************************************************** -->



    <!-- *****************************************************************************************************************
     NEWS
     ***************************************************************************************************************** -->
    <div id="portfoliowrap">
        <div class="container">

            <div class="col-lg-4 col-md-4 col-sm-4 paddinglr">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="centered ctitle">Ключевые даты</h3>
                        <ul class="event-list">
                            {% if event_list %}
                                {% for event in event_list %}
                                    <li>
                                        <time>
                                            <div class="inner">
                                                <span class="day">{{ event.date_time }}</span><br>
                                                <span class="time">{{ event.time }}</span>
                                            </div>
                                        </time>
                                        <div class="info">
                                            <div class="inner">
                                                <b class="title" style="font-size: 16px;">{{ event.info }}</b>
                                                <p class="desc">{{ event.place }}</p>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </div>


                <div class="hline"></div>
                <h3 class="centered ctitle">Быстрые ссылки</h3>
                <ul class="links centered">
                    <li><a href="{% url 'kazan' %}" class="link-btn">Казань</a></li>
                    <li><a href="{% url 'tours' %}" class="link-btn">Экскурсии</a></li>
                    <li><a href="{% url 'about' %}#sections" class="link-btn">Секции</a></li>
                    <li><a href="http://kpfu.ru/" class="link-btn">Университет КФУ</a></li>
                    <li><a href="{% url 'speakers' %}" class="link-btn">Пленарные докладчики</a></li>
                    <li><a href="{% static 'documents/book.pdf' %}" download class="link-btn">Сборник прошлой
                        конференции</a></li>
                </ul>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 paddinglr news">
                <h3 class="centered ctitle">Новости</h3>
                <div class="endless_page_template">
                    {% include page_template %}
                </div>

                {% block js %}
                    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
                    <script src="{% static 'el-pagination/js/el-pagination.js' %}"></script>
                    <script>$.endlessPaginate();</script>
                {% endblock %}
            </div>
        </div>
    </div>
    <!-- *****************************************************************************************************************
     MIDDLE CONTENT
     ***************************************************************************************************************** -->


    <!-- *****************************************************************************************************************
     TESTIMONIALS
     ***************************************************************************************************************** -->


    <div id="photos" class="container-fluid" style="padding: 0;">
        <div class="centered">
            <h3>Наши фотографии</h3>
        </div>
        <div class="col-md-12 carousel photos" style="padding:0;">
            <div class="owl-carousel owl-theme" id="owl-example">
                {% for img in slider_list %}
                    <div class="item"><img src="{{ img.image.url }}" alt=""></div>
                {% endfor %}
            </div>
        </div>


    </div>





    <!-- *****************************************************************************************************************
     OUR CLIENTS
     ***************************************************************************************************************** -->

    <div class="container sponsors">
        <div class="row centered">
            <h3>Спонсоры</h3>
            {% for sponsor in sponsors %}
                 <div class="col-lg-4 col-md-4 col-sm-4">
                <img src="{{ sponsor.img.url }}" class="img-responsive">
            </div>
            {% endfor %}

            <! --/row -->
        </div>
        <br>
    </div>
    <! --/container -->
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#owl-example').owlCarousel({
                loop: true, //Зацикливаем слайдер
                margin: 10, //Отступ от картино если выводите больше 1
                nav: true, //Включил навигацию
                dots: false,
                navText: ["Назад", "Далее"],
                autoplay: true, //Автозапуск слайдера
                smartSpeed: 1200, //Время движения слайда
                autoplayTimeout: 4000, //Время смены слайда
                responsive: { //Адаптация в зависимости от разрешения экрана
                    0: {
                        items: 1
                    },
                    600: {
                        items: 1
                    },
                    1000: {
                        items: 3
                    }
                },
                onRefreshed: function () {
                    updateSize();
                    console.log("updated");
                },
                onInitialized: function () {
                    updateSize();
                    console.log("inited");

                }
            });
            function updateSize() {
                var minHeight = parseInt($('.owl-item').eq(0).css('height'));
                $('.owl-item').each(function () {
                    var thisHeight = parseInt($(this).css('height'));
                    minHeight = (minHeight <= thisHeight ? minHeight : thisHeight);
                });
                $('.owl-wrapper-outer').css('height', minHeight + 'px');

                /*show the bottom part of the cropped images*/
                $('.owl-carousel .owl-item img').each(function () {
                    var thisHeight = parseInt($(this).css('height'));
                    if (thisHeight > minHeight) {
                        $(this).css('margin-top', -1 * (thisHeight - minHeight) + 'px');
                    }
                });

            }
        });
    </script>



{% endblock %}