{% extends 'pages/base.html' %}
{% load static %}
{% block content %}
    <br><br><br><br><br>
    <div class="row">
        <ul class="support-list">
            <li class="well container">
                <div class="col-lg-4"><img
                        src="{% static 'img/kazan1.jpg' %}">
                </div>
                <div class="col-lg-8 big-text">
                    <h3 class="centered mt-min">Казанский Кремль</h3>
                    <p>Древнейшая часть Казани, комплекс архитектурных, исторических и археологических памятников,
                        раскрывающих многовековую историю города: археологические остатки первого (XII—XIII вв.),
                        второго (XIV—XV вв.) и третьего городищ (XV—XVI вв.); белокаменный кремль, ряд храмов и зданий,
                        имеющих большую историко-архитектурную и культурную ценность, официальная резиденция Президента
                        Татарстана. Является объектом Всемирного наследия ЮНЕСКО с 2000 года.</p>
                </div>
            </li>
            <li class="well container">
                <div class="col-lg-4"><img
                        src="{% static 'img/kazan2.jpg' %}">
                </div>
                <div class="col-lg-8 big-text">
                    <h3 class="centered mt-min">Спасская башня Казанского Кремля</h3>
                    <p>Четырехъярусная Спасская башня с надвратной церковью Спаса Нерукотворного — главный въезд в
                        Казанский кремль — расположена в южном прясле крепостной стены. Возведена в XVI веке псковскими
                        зодчими Иваном Ширяем и Постником Яковлевым по прозванию «Барма». Башня неоднократно
                        перестраивалась, во все века ей как главной кремлевской башне уделяли особое внимание.</p>
                </div>
            </li>
            <li class="well container">
                <div class="col-lg-4">
                    <img src="{% static 'img/kazan3.jpg' %}">
                </div>
                <div class="col-lg-8 big-text">
                    <h3 class="centered mt-min">Благовещенский собор</h3>
                    <p>Благовещенский собор — самое крупное сооружение Казанского кремля и древнейшее из
                        сохранившихся каменных построек Казани, расположен в центре комплекса. Построен в 1561—1562 гг.
                        псковскими мастерами во главе с Постником Яковлевым и Иваном Ширяем. Перестроен в 1691, 1736,
                        1835—1843, реконструирован в 1970—1980-е, реставрировался в 1996—2005 гг.</p>
                </div>
            </li>
            <li class="well container">
                <div class="col-lg-4">
                    <img src="{% static 'img/kazan4.jpg' %}">
                </div>
                <div class="col-lg-8 big-text">
                    <h3 class="centered mt-min">Планетарий КФУ</h3>
                    <p>«Планетарий в Казани – единственный в России, который действует в составе университета», –
                        сказал, обращаясь к собравшимся на церемонию открытия, Ильшат Гафуров. Он добавил, что новый
                        планетарий «полностью вписывается в структуру университета и будет служить его научному
                        сообществу».
                        Подробности: <a href="http://kpfu.ru/news/v-kazanskom-federalnom-universitete-otkryli-45952.html">http://kpfu.ru/news/v-kazanskom-federalnom-universitete-otkryli-45952.html</a></p>
                </div>
            </li>
            <li class="well container">
                <div class="col-lg-4">
                    <img src="{% static 'img/kazan5.jpg' %}">
                </div>
                <div class="col-lg-8 big-text">
                    <h3 class="centered mt-min">Национальный музей Республики Татарстан</h3>
                    <p>Научно-исследовательское и культурно-образовательное учреждение, ведущий музейный центр
                        Татарстана и один из крупнейших культурно-исторических музеев в Поволжье.</p>
                </div>
            </li>
        </ul>
    </div>
{% endblock %}