<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse navbar-right">
            <ul class="nav navbar-nav">
                <li class=""><a href="/">ГЛАВНАЯ</a></li>
                <li><a href="{% url 'about' %}">О КОНФЕРЕНЦИИ</a></li>
                <li><a href="{% url 'registration' %}">РЕГИСТРАЦИЯ</a></li>
                <li><a href="{% url 'program' %}">ПРОГРАММА</a></li>
                <li><a href="{% url 'resettlement' %}">ПРОЖИВАНИЕ</a></li>
                <li><a href="{% url 'support' %}">СПОНСОРЫ</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>
