{% load el_pagination_tags %}
{% paginate entries %}
{% for entry in entries %}
    <div class="">
        <hr>
        <h4 class="centered">{{ entry.title }}</h4>
        <article style="word-wrap: break-word;  font-size: 18px;">
            {{ entry.preview }}
        </article>


        <div style='clear:both'></div>
        <div style="padding-top: 7px; font-size: 12px;"><b>Опубликовано:</b> {{ entry.date }}
            <a class="cs-readmore-btn cs-hovercolor" href="{% url 'post_detail' pk=entry.pk %}"><i
                    class="icon-arrow-right10"></i> Читать</a>
        </div>
        <div class="clearfix"></div>

    </div>
{% endfor %}
<div class="pages centered">
    {% show_pages %}
</div>

