{% extends 'pages/base.html' %}
{% load static %}
{% block content %}
    <div class="important1">
        <h2 class="centered wt uppercase">Программа</h2>
    </div>

    <div class="container mtb">
        {% if program %}
                <div class="post">
                    <article>
                        {{ program.text|safe }}
                    </article>
                    <div style='clear:both'></div>
                </div>
        {% endif %}
    </div>
{% endblock %}
