{% extends 'pages/base.html' %}
{% load static %}
{% load staticfiles %}
{% block content %}
    <div class=" container-fluid important1">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <p class="wt" style="margin-top: 60px;">Со всеми вопросами, касающимися организации и проведения конференции, можно обращаться по
                    адресу:
                    info.materials21@kpfu.ru</p>
               <!-- <img src="{% static 'img/kpfu210.png' %}" alt="210 лет КФУ"> -->
            </div>
            <div class="col-md-8 col-sm-12">
                <h2 style="color: white; margin-top: 10px;" class="uppercase ctitle wt mb">информация</h2>
                <p class="big-text wt"> Для участия в III Международной школе-конференции студентов, аспирантов и молодых
                    ученых «Материалы и технологии XXI века» необходимо заполнить регистрационную карту и подготовить тезисы
                    доклада, более подробная информация приведена ниже.</p>
                <div class="row">
                    <div class="mt-min col-md-6 col-sm-5">
                        <a class="btn btn-theme " role="button"
                           href="{% static 'documents/registration_card.doc' %}" download>Регистрационная карта</a>
                    </div>
                    <div class="mt-min col-md-6 col-sm-5">
                        <a class="btn btn-theme" role="button"
                           href="{% static 'documents/sample.doc' %}" download>Оформление тезисов</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid gray-bg mt-min">
        <p class="centered" id="reg_info">Регистрационную карту и тезисы доклада отправлять по адресу <br>
            <span><a href="mailto:abstract.materials21@kpfu.ru" class="centered">abstract.materials21@kpfu.ru</a></span> <br>
            Напоминаем, прием тезисов и регистрационной карты завершится до 15 августа.</p>
    </div>
    <div class="container mb">
        <div class="row info">
            <h2 class="uppercase mb centered ctitle">Тезисы докладов</h2>
            <b>Объем тезисов</b> не более 1 страницы на листе формата А4, ограниченном полями 2.5
            см с каждой стороны.
            <hr>
            <b>Шрифт</b>: Весь текст должен быть набран в Times New Roman с полуторным межстрочным интервалом.
            <hr>
            <b>Название</b>: Размер 12, прописной регистр, полужирный, центрован.
            <hr>
            <b>Автор(ы)</b>: Размер 12, центрован, отделен одной строкой от названия. Один автор отделяется от другого
            запятой и
            пробелом. Если авторский коллектив представляет несколько организаций, используйте надстрочный индекс
            (a, b и т.д.) для организации после инициалов каждого автора. Фамилия докладчика должна быть
            подчеркнута.
            <hr>
            <b>Организация</b>: Размер 12, курсив, центрован. Название организации, город, страна следуют на следующей
            строке после авторов. Если авторы представляют несколько организаций, то каждая организация записывается
            на отдельной строке. Последней строкой должен стоять адрес электронной почты автора.
            <hr>
            <b>Текст</b>: Размер по выбору автора, отформатирован по ширине, без пропуска строк между параграфами, без
            разбивки на колонки, без автоматической расстановки переносов. Рекомендуется отделить основной текст
            тезисов от электронного адреса одной строкой.
            <hr>
            <b>Ссылки</b>: Используйте квадратные скобки для обозначения ссылки на литературу [1]. Список литературы
            приводится в конце основного текста тезисов и отделен от него одной строкой.
            <hr>
            <b>Тезисы, подготовленные не по правилам, могут быть не зарегистрированы!</b>
        </div>
        <! --/row -->
    </div><! --/container -->

{% endblock %}