{% extends 'pages/base.html' %}
{% load static %}

{% block content %}

    <div class="centered important1">
        <h2 class="wt uppercase">Проживание</h2>
        <p class="container" id="rest-info">На основе конкурсного отбора иногородним участникам конференции будет
            предоставлено
            бесплатное проживание в профилактории КФУ, гостинице КФУ или Деревне Универсиады КФУ
            (количество мест ограничено). О желании проживания в профиактории и гостинице КФУ необходимо указать в
            <a href="{% url 'registration' %}" style="color: cyan;">регистрационной карте</a> <br><br> Участники
            конференции могут также
            самостоятельно забронировать номера в гостиницах, расположенных в шаговой доступности от места проведения
            конференции.
            Для бронирования необходимо перети по ссылке.</p>
    </div>

    <br>
    <div class="row">
        <ul class="support-list">
            {% if hotel_list %}
                {% for hotel in hotel_list %}
                    <li class="well container">
                        <h3 class="ctitle">{{ hotel.name }}</h3>
                        <div class="col-lg-3 centered">
                            <img src="{{ hotel.img.url }}">
                        </div>
                        <div class="col-lg-3 centered">
                            <p class="mt-min">{{ hotel.address }}</p>
                        </div>
                        <div class="col-lg-3 centered">
                            <p> {{ hotel.price }}</p>
                        </div>
                        <div class="col-lg-3 centered">
                            <p class="ctitle centered" data-toggle="tooltip"
                               title="Пешком до места проведения конференции"
                               data-placement="top"> {{ hotel.distance }}</p>
                            <a class="centered" href="{{ hotel.site }}"> {{ hotel.site }}</a>
                        </div>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>

    <div class="container mtb centered">
        <h3 class="centered ctitle">Расположение отелей на карте</h3>
        <div class="col-lg-6 col-lg-offset-2">
            <script type="text/javascript" charset="utf-8" async
                    src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Abbfede36bbbb7858416300865efaf0f94426c1d57089d46702ad1292d536ea1f&amp;width=751&amp;height=581&amp;lang=ru_RU&amp;scroll=true"></script>
        </div>
    </div>


{% endblock %}




