{% extends 'pages/base.html' %}
{% load static %}
{% block content %}
    <div class="important1">
        <div class="container">
            <div class="col-lg-3">
                <p class="wt centered mt-min"><a href="info.materials21@kpfu.ru" style="color: cyan">info.materials21@kpfu.ru</a>
                    <br>
                    Тел.: +7 (843) 238 79 01 <br>
                    Факс: +7 (843) 238 79 01 <br>
                    Адрес: <br>
                    420008, Россия, Казань, <br> ул. Кремлевская 1</p>
            </div>
            <div class="col-lg-8 col-lg-offset-1 col-md-offset-0 col-sm-offset-2 col-sm-12 col-xs-12 col-xs-offset-0">
                <h3 class="wt uppercase">Спонсоры конференции</h3>
                <p class="wt centered">Оргкомитет конференции приглашает к сотрудничеству заинтересованные компании и
                    предлагает выступить спонсорами конференции.
                    Каждый спонсор получит возможность представить свой стенд на конференции и
                    презентацию своей продукции. Логотип спонсора будет размещен на главной странице сайта
                    конференции.</p>
                <div class="centered hidden-sm hidden-xs"><a href="{% static 'documents/sponsors.doc' %}" download class="btn btn-theme"
                                         id="btn_support" role="button">Информация для будущих
                    спонсоров</a></div>
            </div>
            <div class="hidden-lg hidden-md col-sm-12"><a href="{% static 'documents/sponsors.doc' %}" download class="btn btn-theme"
                                         id="btn_support" role="button">Информация для <br> будущих
                    спонсоров</a></div>
        </div>
    </div>


    <div class="container mtb">
        <p class="big-text">
            Казанский (Приволжский) федеральный университет приглашает Вас принять участие в качестве спонсоров второй
            Международной школы-конференции студентов, аспирантов и молодых ученых: «Материалы и технологии XXI века»,
            которая будет проходить 20-23 сентября 2016 года в Казанском (Приволжском) федеральном университете в рамках
            III всероссийского научного форума «Наука будущего – наука молодых».<br> <br>
            В прошлом году в конференции приняло участие 600 молодых ученых, из них около 200 человек из других
            субъектов Российской Федерации <a href="http://www.mt21kpfu.com/">http://www.mt21kpfu.com/</a></p>
        <p class="big-text">В этом году планируется участие до 500 молодых ученых из Казани, Нижнего Новгорода, Самары,
            Саратова,
            Ульяновска, Оренбурга, Томска, Санкт-Петербурга, Москвы и других городов.<br></p>
    </div>

    <div class="important wt">
        <h3 class="wt uppercase centered"> Стоимость спонсорского участия составляет 60 тыс руб (включая НДС), пакет
            включает
            в себя:</h3>
        <ul class="simple-list big-text">
            <li> Пакет участника Конференции</li>
            <li> Возможность вложения материалов в пакет участников</li>
            <li> Секционный доклад продолжительностью 10 минут</li>
            <li> Выставочное место для стенда и представления рекламных материалов (рекламные площадки будут
                организованы в
                зале для постерных докладов и выставки научных достижений)
            </li>
            <li> Возможность проведения демонстраций, приборов и мастер-классов на научном оборудовании</li>
            <li> Включение информации о фирме (150-200 слов) в программу Конференции.</li>
        </ul>
    </div>

    <div class="container mtb">
        <h3 class="uppercase mb">Спонсоры конференции</h3>
        <div class="row">
            <ul class="support-list">
                {% if sponsor_list %}
                    {% for sponsor in sponsor_list %}
                        <li class="well container">
                            <h4 class="centered mt-min" style="margin: 0;"><a href="{{ sponsor.site }}">{{ sponsor.name }}</a></h4>
                            <div class="col-lg-4" style="padding-top: 15px;"><img src="{{ sponsor.img.url }}" class="support_img" alt="logo">
                            </div>
                            <div class="col-lg-8 big-text">
                                <p>{{ sponsor.description|truncatechars:"400" }}</p>
                            </div>
                            <button type="button" class="btn btn-blog" data-toggle="modal"
                                    data-target="#modal-{{ forloop.counter }}">Еще
                            </button>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>

    {% if sponsor_list %}
        {% for sponsor in sponsor_list %}
            <div class="modal fade" id="modal-{{ forloop.counter }}" role="dialog" tabindex="-1">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title uppercase centered">{{ sponsor.name }}</h3>
                        </div>
                        <div class="modal-body">
                            <div class="">
                                <div class="row centered mb"><img src="{{ sponsor.img.url }}" alt="logo"></div>
                                <div class="row pad-side">
                                    {{ sponsor.description }}<br><br>
                                    {{ sponsor.address }}<br>
                                    {{ sponsor.phone }}<br>
                                    {{ sponsor.email }}<br>
                                    <a href="{{ sponsor.site }}">{{ sponsor.site }}</a>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-blog" data-dismiss="modal" type="button">Ок</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}


