{% extends 'pages/base.html' %}
{% load static %}
{% load staticfiles %}
{% block content %}
    <br>

    <div class="important1">
    <p class="centered wt big-text" style="margin-bottom: -20px; margin-top: -20px;">27 ноября 2015 года участники конференции смогут побывать на одной из экскурсий по территории Казанского
            университета. Каждый участник сможет посетить одну из четырех экскурсий. Запись на экскурсии будет
            проводиться на регистрации участников 25-26 ноября 2015 г.
        </p>
    </div>
    <div class="container mb mt-min">
        <div class="row">
            <ul class="support-list">
                <li class="well container">
                    <div class="col-lg-4"><img src="{% static 'img/tours1.jpg' %}">
                    </div>
                    <div class="col-lg-8 big-text">
                        <h3 class="centered mt-min">Симуляционный центр КФУ</h3>
                        <p>Высокие медицинские технологии создают потребность в компетентных и прогрессивных
                            специалистах. В
                            этом отношении в Институте фундаментальной медицины и биологии КФУ для подготовки врачей
                            используются самые инновационные разработки.
                            На площади 400 квадратных метров создана виртуальная больница, где есть палаты разной
                            направленности - приемный покой, кабинет эндоскопии, виртуальная операционная, виртуальная
                            интенсивная терапия, родильное отделение, отделение педиатрии, детская реанимационная.</p>
                    </div>
                </li>
                <li class="well container">
                    <div class="col-lg-4">
                        <img src="{% static 'img/tours2.jpg' %}">
                        <br><br>
                        <img src="{% static 'img/tours3.jpg' %}">


                    </div>
                    <div class="col-lg-8 big-text">
                        <h3 class="centered mt-min">Музей истории и Зоологический музей КФУ</h3>
                        <p>Музеи КФУ имеют международный статус. Информация об их фондах содержится в Международных
                            каталогах и справочниках. Экспозиции и фонды музеев широко используются в учебных, научных и
                            культурно–просветительских целях.</p>
                        <p>Зоологический музей КФУ относится к числу старейших в России хранилищ этого профиля, а по
                            богатству и исторической ценности коллекций является одним из самых значительных
                            зоологических
                            музеев страны.
                            Сегодня музей состоит из восьми залов, расположенных по фасаду второго этажа восточного
                            крыла
                            главного здания университета. Коллекция музея включает экспонаты из двадцати трёх типов
                            животных. Его фонды насчитывают 3,5 тысячи единиц хранения позвоночных, 750 единиц хранения
                            насекомых (30-40 тысяч экземпляров), 4 тысячи экземпляров и единиц хранения других
                            беспозвоночных.</p>
                    </div>
                </li>
                <li class="well container">
                    <div class="col-lg-4">
                        <img src="{% static 'img/tours4.jpg' %}">
                        <br><br>
                        <img src="{% static 'img/tours5.jpg' %}">


                    </div>
                    <div class="col-lg-8 big-text">
                        <h3 class="centered mt-min">Геологический музей КФУ и 3D GEO CENTER</h3>
                        <p>Геологический музей КФУ - один из старейших и богатейших естественнонаучных музеев России,
                            которые начали создаваться при высших учебных заведениях в конце XVIII столетия.
                            В музее более 150000 музейных предметов из 60 стран мира. Это собрания метеоритов, горных
                            пород,минералов, руд, ископаемых останков древних растений и животных.</p>
                        <p>3D-Geo центр был создан в 2013 г. для введения образовательных и научных проектов в области
                            геологического и гидродинамического моделирования.</p>
                    </div>
                </li>
                <li class="well container">
                    <div class="col-lg-4">
                        <img src="{% static 'img/tours6.jpg' %}">
                    </div>
                    <div class="col-lg-8 big-text">
                        <h3 class="centered mt-min">Научно-исследовательские лаборатории Химического
                            института
                            им. А.М. Бутлерова и Института физики КФУ</h3>
                        <p></p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}